body {
    background-color: #f7f2f4;
    padding: 0px;
    margin: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

.title1{
    border: solid black;
    width: 400px;
    height: auto;
    border-width: 2px 2px 0 2px;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 50px;
    margin: 65px 0 0 200px;
    padding: 5px 5px 0 25px;
}

.title2{
    border: solid black;
    width: 400px;
    height: auto;
    border-width: 0 2px 2px 2px;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 50px;
    margin: 0 0 0 200px;
    padding: 0 5px 5px 25px;
}

.bodyrow {
    display: flex;
    flex-direction: row;
}

.text1 {
    font-size: 25px;
    font-family: 'Montserrat Medium', sans-serif;
    margin: 50px 0 0 200px;
}

.text2 {
    font-size: 25px;
    font-family: 'Montserrat Medium', sans-serif;
    margin: 50px 0 0 900px;
}

.contentbody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Foot Lockre */
.fl1 img {
    width: 450px;
    height: auto;
    margin: 100px 20px 0 0;
}

.fl2 img {
    width: 500px;
    height: auto;
    margin: 100px 0 0 20px;
}

/* Scoutify and Eventure*/
.sc1 img {
    width: 250px;
    height: auto;
    margin: 40px 0 0 0;
}

.sc2 img {
    width: 250px;
    height: auto;
    margin: 40px 50px 0 50px;
}

.sc3 img {
    width: 250px;
    height: auto;
    margin: 40px 0 0 0;
}

.descriptiontext {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0 0 0;
    font-size: 18px;
}

.descriptiontext2 {
    color: gray;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0 50px 0;
    font-size: 15px;
}
